### **1. Lists (10 Questions)**

1. Create a list of numbers from 1 to 10.
2. Append `15` to the end of a list.
3. Insert `5` at index 2 of a list.
4. Remove the element `7` from a list.
5. Pop the last element of a list.
6. Find the index of number `8` in a list.
7. Slice a list to get elements from index 2 to 5.
8. Reverse a list without using the `reverse()` method.
9. Sort a list in descending order.
10. Sum all elements in a list using a loop.

In [55]:
mylist: list = [ item for item in range(1,10)]
print(mylist)
newlist = mylist.append(15)
print(mylist)
print("#############################")
mylist.insert(0,"item")
print(mylist)
print("#############################")
mylist.remove(2)
print(mylist)
print("#############################")
print(mylist.pop(0))
print(mylist)
print("#############################")
newlist=[12,12,333,12,33,1,12,23]
# mylist.insert(0,newlist)
# print(mylist)
print("#############################")
mylist+=newlist
print(mylist)

slice_list=mylist[5:8]
print(slice_list)

# reverse_list=mylist.reverse()
# print("########################")
# print(reverse_list)
# print(mylist)

rev_list=mylist[::-1]
print(rev_list)

sort_list=mylist.sort(reverse=True)
print("#################################")
print(sort_list)
print(mylist)


sum=0
print("sum of all item in a list")
for item in mylist:
    sum+=item
print(sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 15]
#############################
['item', 1, 2, 3, 4, 5, 6, 7, 8, 9, 15]
#############################
['item', 1, 3, 4, 5, 6, 7, 8, 9, 15]
#############################
item
[1, 3, 4, 5, 6, 7, 8, 9, 15]
#############################
#############################
[1, 3, 4, 5, 6, 7, 8, 9, 15, 12, 12, 333, 12, 33, 1, 12, 23]
[7, 8, 9]
[23, 12, 1, 33, 12, 333, 12, 12, 15, 9, 8, 7, 6, 5, 4, 3, 1]
#################################
None
[333, 33, 23, 15, 12, 12, 12, 12, 9, 8, 7, 6, 5, 4, 3, 1, 1]
sum of all item in a list
496


### **2. Tuples (5 Questions)**

11. Create a tuple with 5 elements.
12. Access the 3rd element of a tuple.
13. Try changing the 2nd element of a tuple (observe what happens).
14. Unpack a tuple into variables.
15. Concatenate two tuples.

### **3. Sets (5 Questions)**

16. Create a set with numbers from 1 to 5.
17. Add a new element to a set.
18. Remove an element from a set.
19. Find the union of two sets.
20. Find the intersection of two sets.

In [69]:
tup1=(1,2,3,4,5,6,7,8,9,10,1,2,3,5)
tup2=(1,3,5,1,3,5,6,122,12,121,12324,4545,234)
print(tup1[3])
# tup[3]=100
# print(tup)
new_tuple=tup1+tup2
print(new_tuple)
new_set=set(tup1+tup2)
print(new_set)


set1=set((1,1,2,2,3,4,5,55,12,321,2,111,22,4,323,19))
print(set1)

4
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 5, 1, 3, 5, 1, 3, 5, 6, 122, 12, 121, 12324, 4545, 234)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12324, 12, 234, 4545, 121, 122}
{1, 2, 3, 4, 5, 321, 323, 12, 111, 19, 22, 55}

### **4. Dictionaries (10 Questions)**

21. Create a dictionary with 3 key-value pairs.
22. Access a value using its key.
23. Update a value in a dictionary.
24. Add a new key-value pair.
25. Delete a key-value pair.
26. Loop through keys of a dictionary.
27. Loop through values of a dictionary.
28. Loop through both keys and values using `.items()`.
29. Check if a key exists in a dictionary.
30. Merge two dictionaries.

In [99]:
import json
d= {
   "name": "deepak",
   "roll_no": 18,
   "grade": "A"
}
print(d)
print("########################")

for v in d.values():
    print(v)
print("##################################")
for k,v in d.items():
    print(f"{k}: {v}")
print("##################################")
for keys in d.keys():
    print(keys)
print("##################################")

d["age"]=25
print(d)

d.update(
    {
        "city": "moradabad",
        "pin":  244001
    }
)
print("#################################################")
print(d)
print(type(d))
print("#################################################")
json_data=json.dumps(d,indent=4)
print(json_data)
print(type(json_data))

del d["city"]
print(d)
d.popitem()
d.pop("age")
print(d)

{'name': 'deepak', 'roll_no': 18, 'grade': 'A'}
########################
deepak
18
A
##################################
name: deepak
roll_no: 18
grade: A
##################################
name
roll_no
grade
##################################
{'name': 'deepak', 'roll_no': 18, 'grade': 'A', 'age': 25}
#################################################
{'name': 'deepak', 'roll_no': 18, 'grade': 'A', 'age': 25, 'city': 'moradabad', 'pin': 244001}
<class 'dict'>
#################################################
{
    "name": "deepak",
    "roll_no": 18,
    "grade": "A",
    "age": 25,
    "city": "moradabad",
    "pin": 244001
}
<class 'str'>
{'name': 'deepak', 'roll_no': 18, 'grade': 'A', 'age': 25, 'pin': 244001}
{'name': 'deepak', 'roll_no': 18, 'grade': 'A'}

### **5. `zip` and `enumerate` (5 Questions)**

31. Use `zip()` to combine two lists into pairs.
32. Convert zipped pairs into a dictionary.
33. Use `enumerate()` to get index and value while looping over a list.
34. Start enumeration from 1 instead of 0.
35. Unzip a zipped object back into two lists.

In [123]:
list1=["name","city","age"] 
list2=["deepak","mbd",25,"A"]
var=zip(list1,list2) 
print(type(var)) 
for k,v in var: 
    print (f"{k}: {v}")

for i,item in enumerate(list1,1):
    print(f"{i}: {item}")
var2 = list(zip(*var))
print(var2)

<class 'zip'>
name: deepak
city: mbd
age: 25
1: name
2: city
3: age
[]

### **6. Loops (`for` and `while`) (10 Questions)**

36. Use a `for` loop to print numbers from 1 to 10.
37. Use a `while` loop to print numbers from 10 down to 1.
38. Loop through a list and print only even numbers.
39. Use a `for` loop to calculate the factorial of a number.
40. Use `break` in a loop when a certain condition is met.
41. Use `continue` in a loop to skip certain numbers.
42. Loop through a dictionary and print keys with their values.
43. Use nested `for` loops to print a 3x3 grid of stars (`*`).
44. Use `while` loop to sum numbers until the user enters 0.
45. Implement a `for` loop with `else` block (when does `else` execute?).

In [135]:
# x=10
# while x>0:
#     print(x)
#     x-=1
list=[1,2,3,4,5,6,7,8,9,10,11,13,15,117,12,14,16,18,20]

even_list=[ item for item in list if item%2==0 ]
print(even_list)
print("########################")

n = 6
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
########################
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

### **7. Conditionals (`if`, `elif`, `else`) (5 Questions)**

46. Write an `if` statement to check if a number is positive.
47. Write an `if-elif-else` to categorize numbers as negative, zero, or positive.
48. Check if a string contains a certain substring.
49. Check if a number is divisible by 3 and 5.
50. Use a conditional expression (ternary operator) to assign a value.


### **8. Combined/Scenario-Based Questions (5 Questions)**

51. Remove duplicates from a list while maintaining order.
52. Count the frequency of each element in a list using a dictionary.
53. Merge two lists into a dictionary (key → list1, value → list2).
54. Find common elements between two lists using sets.
55. Loop through a dictionary and print only keys with even values.

In [151]:
# list = [1,1,2,23,2,33,2,5,99,5,6,67,12,22,33,4,5]
# s = sorted(set(list))
# print(s)
# print(type(s))
# print(list)

# list = [1,1,2,23,2,33,2,5,99,5,6,67,12,22,33,4,5]
# for item  in set(list):
#     print(f"{item}: {list.count(item)}")


# list1 = ["name", "age", "city"]
# list2 = ["Deepak", 25, "Moradabad"]

# merged_dict = dict(zip(list1, list2))
# print(merged_dict)