In [9]:
my_list=["deepak","sagar",18,"priya","priyanshu"]
print(my_list)
print(my_list[0])
print(my_list[-1])
print(type(my_list[0]))
print(type(my_list[2]))

['deepak', 'sagar', 18, 'priya', 'priyanshu']
deepak
priyanshu
<class 'str'>
<class 'int'>

In [21]:
my_list.insert(0,"newitem")
print(my_list)
# del my_list[0]
# print(my_list)

['newitem', 'deepak', 'sagar', 18, 'priya', 'priyanshu']

In [30]:
print(sorted([1, 2, 1, 23, 44, 1, 23, 42, 3, 21, 7]))

[1, 1, 1, 2, 3, 7, 21, 23, 23, 42, 44]

In [32]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

# Ques & Ans

### ðŸŸ¢ Level 1 â€” Basics

1. Create a list of 5 numbers and print:

   * The first, middle, and last elements.
   * The length of the list.
   * The list reversed using slicing.

2. Create a list `fruits = ["apple", "banana", "cherry"]`.

   * Add `"mango"` to the end.
   * Insert `"orange"` at index 1.
   * Remove `"banana"`.

3. Given `numbers = [1, 2, 3, 4, 5]`,

   * Replace the 3rd element with `99`.
   * Append `6`.
   * Delete the first element.

### ðŸŸ¡ Level 2 â€” Intermediate

4. Create a list of numbers from 1 to 10, and:

   * Print only even numbers using list comprehension.
   * Square all numbers using a loop.

5. Combine two lists `[1,2,3]` and `[4,5,6]` into one using:

   * `+`
   * `.extend()`

6. Given `marks = [90, 80, 95, 70, 85]`

   * Find the highest and lowest marks.
   * Sort the list in ascending and descending order.

7. Remove duplicates from `[1,2,3,2,4,1,5]` while maintaining order.

### ðŸ”µ Level 3 â€” Advanced

8. Create a list of words from a sentence using `.split()` and:

   * Count how many words there are.
   * Find which word appears most often.

9. Write a program to input 5 numbers from the user into a list and print the average.

10. Given a nested list:

    ```python
    matrix = [[1,2,3], [4,5,6], [7,8,9]]